.visually-hidden {
  display: none;
}

.prices {
  font-family: var(--fontFamilyHeader);
  background-color: var(--colorHeader);
  padding-bottom: var(--marginGeneral);
  padding-left: var(--marginGeneral);
  padding-right: var(--marginGeneral);
}

.price__button__name {
  font-size: var(--fontSizeMedium);
  display: flex;
  align-items: space-between;
}

.price__button__amount {
  font-size: var(--fontSizeSmall);
  color: var(--colorFontAmount);
  grid-row: 2;
  display: flex;
  align-items: space-between;
}

.price__button__plus {
  font-size: var(--fontSizeBig);
  padding: var(--marginOrder);
  background-color: var(--colorAddOrder);
  border-radius: var(--borderRadiusButton);
  grid-column: 2;
  grid-row: span 2;
  text-align: center;
}

.prices__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.2rem;
  background-color: var(--colorHeader);
}

.price__button__wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 1.2rem;
  background-color: var(--colorBackgroundOrder);
  border-radius: var(--borderRadiusElement);
}

.title_mini {
  font-size: var(--fontSizeSmall);
  font-family: var(--fontFamilyHeader);
  text-transform: uppercase;
  margin-top: var(--marginGeneral);
  margin-left: var(--marginGeneral);
}

.total__label {
  display: none;
}

.total__price {
  display: none;
}

.emptystate {
  margin: 7rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &img {
    display: block;
  }
}

.emptystate__content {
  font-family: var(--fontFamilyHeader);
  font-size: var(--fontSizeMediumPlus);
  color: var(--colorFontAmount);
  margin-top: 1.5rem;
}

.orderPlaced {
  display: none;
}

.order {
  font-family: var(--fontFamilyHeader);
  font-size: var(--fontSizeMediumPlus);
  border-bottom: .1rem solid var(--colorOrderBorder);
  padding: 1.6rem;
  margin: 0 var(--marginGeneral);
  display: flex;
  justify-content: space-between;
}

.remove {
  text-transform: uppercase;
  color: var(--colorFontAmount);
}

.removeClick {
  display: none;
}

.orders {

  & .visually-hidden {
    display: none;
  }
}
