:root {
  /* All colors */
  --colorHeader: #f9d2cb;
  --colorNavigationBar: #212121;
  --colorSvgNavigation-inactive: #564f4f;
  --colorSvgNavigation-active: #b7b7b7;
  --colorAddOrder: #a3f4dc;
  --colorBackgroundOrder: white;
  --colorFontAmount: #9c9c9c;

  /* All margins */
  --marginGeneral: 3rem;
  --marginOrder: 1.2rem;

  /* All font-families */
  --fontFamilyHeader: roboto, sans-serif;

  /* All font-weights */
  --fontWeightFat: 500;
  --fontWeightLight: 400;

  /* All font-sizes */
  --fontSizeSmall: 1.2rem;
  --fontSizeMedium: 1.6rem;
  --fontSizeMediumPlus: 1.8rem;
  --fontSizeBig: 2.4rem;
  --fontSizeLarge: 2.6rem;

  /* Border-radius */
  --borderRadiusButton: 4px;
  --borderRadiusElement: 6px;
}
