@import './css/reset.css';
@import './css/vars.css';
@import './css/header.css';
@import './css/order.css';
@import './css/nav.css';

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

/* stylelint-disable */
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* stylelint-enable */

.price:nth-child(4) {
  display: none;
}

@media (width >= 828px) {

  .layout {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: .5fr 2fr;
    height: 100vh;
    overflow-y: hidden;
  }

  .prices {
    grid-column: 1 / span 1;
    margin-top: -2rem;
  }

  .content {
    grid-column: 2 / span 1;
    grid-row: 1 / 3;
  }

  .prices__list {
    display: grid;
    grid-template-columns: 1fr;
  }

  .total {
    width: 66%;
  }

  header {

    & img {
      position: absolute;
      top: 55.5rem;
      left: 4rem;
      bottom: 8.5rem;
    }
  }

  .leaf {
    margin-left: -3rem;
    margin-bottom: 2rem;
  }

  .price:nth-child(4) {
    display: block;
  }
}
